@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins';
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #3a0f5f, #c1a0e3);
}

.container {
  background: rgba(255,255,255,0.1);
  padding: 40px;
  border-radius: 12px;
  width: 90%;
  max-width: 400px;
  text-align: center;
  color: #fff;
}

.container h1 {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.form input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: none;
  font-size: 1rem;
  box-sizing: border-box; /* garante que padding e bordas não alterem o tamanho */
  appearance: none; /* uniformiza o visual nos navegadores */
}


.btn {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: linear-gradient(to right, #7700ff, #7700ff);
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}
