/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url(../images/Fundo.jpg);
  background-size: cover; /* cobre toda a tela */
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* centraliza e separa os botões */
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.btn {
  width: 180px;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn:hover {
  background: #f0f0f0;
}
