@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
    --cor-primaria: #370A54;
    --cor-secundaria: #874FAD;
    --cor-terciaria: #D4CADA;
    --cor-fundo: #f3f3f3;
    --cor-fundo-branco: #FFFF;
    --cor-texto-claro: #9B99A4;
    --cor-texto-base: #747070;
    --cor-texto-base_escuro: #504d4d;
    --cor-texto-base_preto: #000000;
    --cor-texto-base_clara: #FFFF;
}

/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body, html {
    height: 100%;
}

/* Gradiente invertido (do escuro no topo para claro embaixo) */
body {
    background: linear-gradient(to bottom, #3a0f5f, #c1a0e3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 350px;
    background: rgba(255, 255, 255, 0.1);
    padding: 40px 30px;
    border-radius: 10px;
    text-align: center;
}

.login-container h1 {
    color: var(--cor-texto-base_clara);
    font-size: 16px;
    margin-bottom: 30px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
}

.login-container input::placeholder {
    color: #999;
}

.login-container .password {
    font-size: 12px;
    color: var(--cor-texto-base_clara);
    margin-bottom: 20px;
    text-decoration: none;
    display: block;
}

.login-container .password:hover {
    text-decoration: underline;
    color: var(--cor-texto-base_clara);
}

.login-container .btn-entrar {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto-base_clara);
    padding: 12px;
    border: none;
    border-radius: 25px; /* deixa o botão bem arredondado */
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease; /* animação suave */
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.login-container .btn-entrar:hover {
  background-color: #a875d5;
  transform: scale(1.05); /* cresce um pouquinho ao passar o mouse */
}
